baseURL = "http://localhost:1313/"
languageCode = "en-us"
title = "My Portfolio"
theme = "shibui"

[menu]
  [[menu.main]]
    name = "Home"
    url = "/"
    weight = 1
  [[menu.main]]
    name = "Posts"
    url = "/posts/"
    weight = 2
